ol(class="breadcrumb")
    li()
        a(onclick="window.location='/'" title="דף הבית") דף הבית

    each field, i in drillDown
        - var value = filter.getConstraintData(field) ;

        - var escapedValue = escapeJSLink(value);

        -if ( i < drillDown.length - 1 ){
            li()
                a(onclick="breadCrumbs('#{escapedValue}')" title="#{translate(field)}") #{removeQoutes(translate(value))}
        -}else{
            li(title="#{translate(field)}") #{removeQoutes(translate(value))} 
        -}
