each group in groups
    - if (debug)
        div() #{group.query}
    - if (group.group_field == 'fund_name' )continue;

    //- skip empty groups
    - if (Object.keys(group.result).length == 0 ) continue;

    //- count precent shown in table
    - var visiblePercentage = 0;

    div(class="segmentation")
        h3(class="table-title") חלוקה לפי #{translate(group.group_field)}
            i(class="help-spot fa fa-question-circle")

        table(class="group-table table table-striped")
            colgroup()
                col()
                col()
                col()
                col()
            thead()
                tr()
                    th() #{translate(group.group_field)}
                    th() היקף ההשקעה 
                        small() בשקלים

                    - if (report_type == "managing_body"){
                        th() חשיפה 
                            small() באחוזים
                    - }
                    - else if(report_type == "investment") {
                        th() אחוז מההשקעה
                    - }

                    th() שינוי חשיפה 
                        small() 4 רבעונים אחרונים

            tbody()
                each result in group.result
                    - var lastQStr = lastQuarters[0].str;
                    - var lastQResult = result[lastQStr][0];
                    - var lastQResultWords = convertNumberToWords(lastQResult.fair_value);
                    - var groupPercentage = (lastQResult.fair_value / quarters[lastQStr][0]['fair_value'] * 100 ).toFixed(2);
                    //- var escapedVal = rfc3986EncodeURIComponent(lastQResult[group.group_field]);
                    - var groupName = removeQoutes(translate(lastQResult[group.group_field]));
                    - visiblePercentage += Number(groupPercentage);

                    - if (result[group.group_field] === 'NULL' ) continue;

                    - if ( result[lastQStr] != undefined )
                        - var lastQResult = result[lastQStr][0];
                    - else
                        div() UNDEFINED for #{group.group_field} #{removeQoutes(translate(lastQResult[group.group_field]))} #{lastQStr}

                        - result[lastQStr] = [{'fair_value':'0'}];
                        - var lastQResult = result[lastQStr][0];

                        - continue


                    tr()
                        td()
                            - if (groupPercentage == 100){
                                div() #{groupName}
                            - }else{
                                a(class="table-link" onclick="addConstraint('#{group.group_field}','#{lastQResult[group.group_field]}')" title='#{groupName}') #{groupName}
                            -}
                        td()
                            span(class="amount") #{lastQResultWords.number}  #{lastQResultWords.scale}
                        td()
                            span(class="percentage") #{groupPercentage}%
                            div(class="bar graph" style="width:#{groupPercentage*(65/100)}%")

                        td(class="change")
                            - var sparkline = [];
                            - for(var i = 0;i<4;i++){
                                - var qStr = lastQuarters[i].year + "_" + lastQuarters[i].quarter;
                                - if (result[qStr] == undefined){
                                    - if (debug){
                                        div() result[#{qStr}] is undefined
                                    - }
                                    - sparkline.push( Number(0) );
                                    - continue;
                                - }
                                - if (quarters[qStr][0] == undefined){
                                    - if (debug){
                                        div() quarters[qStr][0] is undefined
                                    - }
                                    - sparkline.push( Number(0) );
                                    - continue;
                                - }
                                - sparkline.push( (Number(result[qStr][0]['fair_value']) / Number(quarters[qStr][0]['fair_value']) * 100).toFixed(2) );
                            - }

                            - var diff, direction;

                            - diff = (sparkline[0] - sparkline[sparkline.length - 1]).toFixed(2);
                            - if (diff > 0){
                                - direction = "increase";
                            - }
                            - else if(diff==0) {
                                - direction = "no-change";
                            - }

                            - else{
                                - direction = "decrease";
                            - }
                            - diff = Math.abs(diff);

                            span(class="trend #{direction}" )
                              span(class="percentage") #{diff}%
                            div(class="sparkline graph" data-sparkline="#{sparkline.reverse().join(', ')}")


                - if(visiblePercentage < 100){
                    tfoot()
                        tr()
                            td(class="list-all" colspan="4")
                                - var linkUrl = "/investments" + filter.toQueryString() + "&group_by=" + group.group_field;
                                a(data-target="#myModal",data-toggle="modal",data-remote="#{linkUrl}")
                                    כל #{plurals[group.group_field]}...
                - }

                - if (debug && visiblePercentage > 100){
                    tr()
                        td()
                            div() סהכ גדול מ100%!! #{visiblePercentage }
                - }

