table(id="portfolio-overview" class="table")
    tbody()
        tr()
            td()
                - if (report_type == "managing_body"){
                    h3() גודל התיק
                - }
                - else if(report_type == "investment") {
                    h3() גודל ההשקעה
                - }
                span(class="datum") #{total_sum_words.number}  #{total_sum_words.scale} שקל


            -if (filter.hasConstraint("managing_body") || filter.getDrillDownDepth() > 0){
                td()
                    - if (report_type == "managing_body"){
                        h3() חלק משוק הפנסיה
                    - }
                    - else if(report_type == "investment") {
                        h3() חשיפה
                    - }

                    -var percentageOfTotalFund = (quarters[lastQuarters[0].str][0]['fair_value'] / totalPensionFundQuarters[lastQuarters[0].str][0]['fair_value'] * 100).toFixed(1)
                    span(class="datum") #{percentageOfTotalFund} %
            -}
            td()
                h3() שינוי ב-4 רבעונים
                -var diffQ0 = ((quarters[lastQuarters[0].str][0]['fair_value'] / totalPensionFundQuarters[lastQuarters[0].str][0]['fair_value'] * 100) || 0).toFixed(1);
                -var diffQ1 = ((quarters[lastQuarters[1].str][0]['fair_value'] / totalPensionFundQuarters[lastQuarters[1].str][0]['fair_value'] * 100) || 0).toFixed(1);
                -var diffQ2 = ((quarters[lastQuarters[2].str][0]['fair_value'] / totalPensionFundQuarters[lastQuarters[2].str][0]['fair_value'] * 100) || 0).toFixed(1);
                -var diffQ3 = ((quarters[lastQuarters[3].str][0]['fair_value'] / totalPensionFundQuarters[lastQuarters[3].str][0]['fair_value'] * 100) || 0).toFixed(1);

                - var diff = (diffQ0 - diffQ3).toFixed(1);
                - var trend;

                - if (diff > 0){
                    - direction = "increase";
                - }
                - else if(diff==0) {
                    - direction = "no-change";
                - }

                - else{
                    - direction = "decrease";
                - }
                - diff = Math.abs(diff);
                div(id="portfolio-overview-diff")
                    div(class="trend #{direction}" )
                        span(class="datum percentage") #{diff}%
                    div(class="sparkline graph",data-sparkline="#{diffQ3}, #{diffQ2}, #{diffQ1}, #{diffQ0}")
