table(id="portfolio-overview" class="table")
    tbody()
        tr()
            td()
                - if (report_type == "managing_body"){
                    h3() גודל התיק
                - }
                - else if(report_type == "investment") {
                    h3() גודל ההשקעה
                - }
                span(class="datum") #{total_sum_words.number}  #{total_sum_words.scale} שקל


            -if (filter.hasConstraint("managing_body") || filter.getDrillDownDepth() > 0){
                td()
                    - if (report_type == "managing_body"){
                        h3() חלק משוק הפנסיה
                    - }
                    - else if(report_type == "investment") {
                        h3() חשיפה
                    - }

                    -var percentageOfTotalFund = (quarters[0]['fair_value'] / totalPensionFundQuarters[0]['fair_value'] * 100).toFixed(1)
                    span(class="datum" style="direction:ltr") #{percentageOfTotalFund}%
            -}
            td()
                h3() שינוי ב-4 רבעונים
                -var diffQ0 = (quarters[0]['fair_value'] / totalPensionFundQuarters[0]['fair_value'] * 100).toFixed(1);
                -var diffQ1 = (quarters[1]['fair_value'] / totalPensionFundQuarters[1]['fair_value'] * 100).toFixed(1);
                -var diffQ2 = (quarters[2]['fair_value'] / totalPensionFundQuarters[2]['fair_value'] * 100).toFixed(1);
                -var diffQ3 = (quarters[3]['fair_value'] / totalPensionFundQuarters[3]['fair_value'] * 100).toFixed(1);

                - var diff = (diffQ0 - diffQ3).toFixed(1);
                - var caret, colorClass;

                - if (diff > 0){
                    - diff = "+" + diff;
                    - caret = "fa-caret-up";
                    - colorClass = "blue-text";
                - }
                - else if (diff == 0){
                    - caret = "";
                    - colorClass = "gray-text";
                - }
                - else{
                    - caret = "fa-caret-down";
                    - colorClass = "yellow-text";
                - }
                div(id="portfolio-overview-diff")
                    div(class="quarter-diff #{colorClass}" )
                        span(class="datum percentage"  style="direction:ltr") #{diff}%
                        i(class="fa #{caret}")
                    div(class="sparkline graph",data-sparkline="#{diffQ3}, #{diffQ2}, #{diffQ1}, #{diffQ0}")
