extends layout

block content

	script(type='text/javascript', src='/js/entry.js')

	//- HEADER
	header(id="header" class="noselect")
		div(id="header-top")
			img(id="header-logo" src="/img/pension-logo.png")
			div(id="header-title") 
				a( href="/") פנסיה פתוחה
			div(id="header-feedback") שלחו לנו פידבק
			div(id="header-about") 
				a( href="/about")אודות
		div(id="header-bottom")
			div(id="breadcrumbs") שוק הפנסיה > פניקס > בנקים
			div(id="question") כמה כסף משקיעה הפניקס בבנקים?

	//- BODY
	div(class="container")

		//- RIGHT COLUMN
		div(id="right-column" class="col-sm-6 pull-right")
			div(id="info")  
				div(id="total") #{total.number} #{total.scale} &#8362
		



		//- LEFT COLUMN
		div(id="left-column" class="col-sm-6 pull-right")
			div(id="group-by") חלוקה לפי &nbsp&nbsp
			select(id="select_group_by" style="float:right"  data-width="120px")
				each category in availableCategories
					- var select=null; if (group_by == category) select='selected';
					option(value="#{category}", selected=select) #{columnDictionary[category]}	
			br
			br
					
			each group in groups
				div(class="")
					each result in group.result
						- var sum = convertNumberToWords(result.sum_market_cap);
						div(class="pull-right entry-box")
							a(class="entry-box-link", onclick="addConstraint('#{group.group_field}','#{result[group.group_field]}')")
								div(class="entry-box-title") #{ result[group.group_field] || '.'}
								div(class="entry-box-value") #{sum.number +' ' + sum.scale} &#8362
									div(class="entry-bar",style="width: #{result.sum_market_cap / groups['total_sum']* 103}%;")
	
								br
		
