extends layout

block headerbottom
	//- HEADER
	div(id="header-bottom")
		div(class="container")
			div()
				title
				div(id="breadcrumbs") שוק הפנסיה > פניקס > בנקים
				div(id="question")  #{title}?

block content
	//- BODY
	div(class="container")

		//- RIGHT COLUMN
		div(id="right-column" class="col-sm-6 pull-right")
			div()
				div(id="info")  
					div(id="total") #{total.number} #{total.scale} &#8362
				- if (debug)
					div(style="text-align:left;") #{quarterSelect} 

						
			//- Hidden quarters' data for js 
			div(class="row" style="border:0;height:1px")
				- var quarterIndex = 0;
				each quarter in quarters
					div( id="graphdata#{quarterIndex}-report_year", style="display:none"   ) #{quarter['report_year'] } 
					div( id="graphdata#{quarterIndex}-report_qurater", style="display:none") #{quarter['report_qurater']}
					div( id="graphdata#{quarterIndex}-sum_market_cap", style="display:none") #{convertNumberToWords(quarter['sum_market_cap']).number} 
					
					div( id="graphdata#{quarterIndex}-precent_market_cap", style="display:none")  5+quarterIndex } 
					
					- quarterIndex++;
					br


			div( id="pieChart", style="min-width:80px;max-width: 100px;height: 80px;margin: 0xpx;float: right;")	
			div(id="pieChartTitle", style="min-width: 200px;max-width: 300px;height: 40px;margin-top: 25px;float: right; font-size: 16px; ") שהם 26% מתיק ההשקעות של מגדל 
			
			div( id="imagraph", style="min-width: 500px; max-width: 1000px; height: 200px; margin: 50px auto")	
				

	


			div(class="row pull-right" style="position:relative;top:100px;")
				a(href="/csv#{filter.toQueryString()}") 
					div(id="downloadDataButton") רשימת נכסים
						div(id="csv-icon" class="glyphicon glyphicon-download-alt")
						div(id="csv-comment") (להורדה בקובץ CSV)





		//- LEFT COLUMN
		div(id="left-column" class="col-sm-6 pull-right")
			div(id="group-by") חלוקה לפי &nbsp&nbsp
			select(id="select_group_by" style="float:right"  data-width="120px")
				each category in availableCategories
					- var select=null; if (group_by == category) select='selected';
					option(value="#{category}", selected=select) #{translate(category)}	
			br
			br
						
			each group in groups
				-if (debug)
					div(style="text-align:left;") #{group.query} 
				div(class="")
					-if(group.result.length > 0)  var firstBar = group.result[0].group_sum;

					each result in group.result					
						//- skip groups with empty name (shouldnt happen)
						- if (result[group.group_field] == null || result[group.group_field] == '') continue
						//- skip NULL box if sum is 0
						- if (result[group.group_field] == 'NULL' && result.group_sum == 0) continue
						

						- var sum = convertNumberToWords(result.group_sum);
						div(class="pull-right entry-box")
							
							- var escapedVal = encodeURIComponent(result[group.group_field]);
							a(class="entry-box-link", onclick="addConstraint('#{group.group_field}','#{escapedVal}')")
								- var groupName = translate(result[group.group_field])
								
								//- remove remaining escaped doubleqoutes
								- groupName = groupName.replace(/""/g, '"').replace(/^\"/, "").replace(/"$/, "");

								div(class="entry-box-title") #{ groupName}
									div(id="play-icon" class="icon-flipped glyphicon glyphicon-play")
								div(class="entry-box-value") #{sum.number +' ' + sum.scale} &#8362
					
								- if (result[group.group_field] == 'NULL') 
									div(class="entry-bar-empty",style="width: 100%;")
										div(class="entry-bar",style="width:0px")	
								
								- if (result[group.group_field] != 'NULL')
									div(class="entry-bar-empty",style="width: 100%;")
										div(class="entry-bar",style="width: #{Math.max(result.group_sum / firstBar,0.001) * 100}%;")	
								
								br


		
	script(type='text/javascript', src='/js/entry.js', myVar = 200 )
	script(type='text/javascript', src='http://code.highcharts.com/modules/exporting.js')
	script(type='text/javascript', src='http://code.highcharts.com/highcharts.js')
