extends layout

block content

	div(id="page-header" class="container-fluid")
		div(class="container")
			div(class="row")
				div(class="col-xs-12")
					ol(class="breadcrumb")
						li()
							a(onclick="window.location='/'" title="דף הבית") דף הבית
						li(class="active")הסברים
					h2() 
					h1() הסברים
					
	div(class="container")
		div(class="row")
			main(class="col-xs-8")
				- var index = 0;
				each term in pensionTerms
					- index++;
					section(id="#{term.key}")
						h3() #{term.title}
						p() #{term.value}
			div(class="col-xs-offset-1 col-xs-3")
				ul(class="toc nav affix" data-spy="affix" data-offset-top="180")
					each term in pensionTerms
						li()
							a(href="##{term.key}") #{term.title}