extends layout

block headerbottom


block content

	div(id="page-header" class="container-fluid")
		div(class="container")
			div(class="row")
				div(class="col-xs-12")
					div(class="breadcrumb col-xs-12") 
						ol()
							li()
								a(onclick="window.location='/'" title="דף הבית") דף הבית
							li(class="active")הסברים
					h2() 
					h1() הסברים
					
	div(class="container")
		div(class="row")
			div(class="col-xs-4")
				ul(class="nav affix-top" data-spy="affix" data-offset-top="175" data-offset-bottom="200")
					- var index = 0;
					each term in pensionTerms
						- index++;
						- if (index == 1){
							li(class="active")
								a(href="##{term.key}") #{term.title}
						- }
						- else{
							li()
								a(href="##{term.key}") #{term.title}
						- }
						
			main(class="col-xs-8")
				- var index = 0;
				each term in pensionTerms
					- index++;
					section(id="#{term.key}")
						h3() #{term.title}
						p() #{term.value}
		