
block content

	//- BODY
	div(class="container")
		
		//- RIGHT COLUMN
		div(class="col-sm-12" style="padding-right: 0px;")
	
		
			
			- if (debug)
				div(style="text-align:left;direction:ltr") #{query} 

			div(id="investments-header")
				h3(id="investments-header-title") חלוקה לפי&nbsp #{translate(group_by)}
				div(id="investments-header-button",onclick="$('.modal').modal('hide')" ) &#xf05c
			table(id="investments-list" class="sortable table table-striped" style="text-align:right;width:100%")
				colgroup()
					col(class="col-sm-3")
					col(class="col-sm-3")
					col(class="col-sm-3")
					col(class="col-sm-3")
				thead()
					tr() 
						th(style="text-align: right") #{translate(group_by)}
						th(style="text-align: right") היקף ההשקעה 
							span(class="unit") בשקלים
						th(style="text-align: right") % מההשקעה
						th(style="text-align: right") שינוי ב-4 רבעונים אחרונים
				tbody()
					each group in groups
						//- if (group[group_by] === 'NULL' ) continue;
						- var lastQStr = lastQuarters[0].toString();
						- if ( group[lastQStr] == undefined )
							- if (debug)
								div() חסר רבעון נוכחי 
								div(style="text-align:left") #{JSON.stringify(group)}
							- continue;
						- var lastQResult = group[lastQStr][0];
						- var lastQResultWords = convertNumberToWords(lastQResult['group_sum']);
						- var groupPercentage = (lastQResult.group_sum / quartersSums[lastQStr] * 100 ).toFixed(2);
						- var escapedVal = rfc3986EncodeURIComponent(lastQResult[group_by]);
						- var groupName = removeQoutes(translate(lastQResult[group_by]));

							tr()
								td()
									div(data-sort="#{ lastQResult[group_by]}" class="table-link") 
										a(class="table-link", onclick="addConstraint('#{group_by}','#{escapedVal}')") #{groupName}
								td()
									div(data-sort="#{ lastQResult['group_sum']}") #{lastQResultWords.number}  #{lastQResultWords.scale}
								td()
									span() #{groupPercentage}% 
									div(data-sort="#{groupPercentage}", id="bar" style="width:#{groupPercentage*(75/100)}%")
								
								td(style="padding:10px !important")
									- var sparkline = [];
									- for(var i = 0;i<4;i++){
										- var qStr = lastQuarters[i].toString();
										- if (group[qStr] == undefined){
											- if (debug){
												div() אין מידע עבור רבעון  #{qStr} 
											- }
											- sparkline.push( Number( 0 ) );
											- continue;
										- }
										- if (quartersSums[qStr] == undefined){
											- if (debug){
												div() quartersSums[#{qStr}] is undefined
											- }
											- sparkline.push( Number( 0 ) );
											- continue;
										- }
										- sparkline.push( (Number(group[qStr][0]['group_sum']) / Number(quartersSums[qStr]) * 100).toFixed(2) );
									- }



									- var diff, caret, colorClass;

									- diff = (sparkline[0] - sparkline[sparkline.length - 1]).toFixed(2);
									- if (diff > 0){
										- diff = "+" + diff;
										- caret = "fa-caret-up";
										- colorClass = "blue-text";
									- }
									- else{
										- caret = "fa-caret-down";
										- colorClass = "yellow-text";
									- }

									div(data-sort="#{diff}",class="quarter-diff #{colorClass}" ) 
										p(class="percentage") #{diff}%
										i(class="fa #{caret}" style="position: relative;bottom: 15px")
									div(class="sparkline",data-sparkline="#{sparkline.reverse().join(', ')}")
