
block content

  //- BODY
  div(class="container")

    div(class="row")

      //- RIGHT COLUMN
      div(class="col-sm-12")
    
      
        - if (debug)
          div() #{query} 

        div(id="investments-header")
          h3(id="investments-header-title") חלוקה לפי&nbsp #{translate(group_by)}
          div(id="investments-header-button",onclick="$('.modal').modal('hide')" ) &#xf05c
        table(id="investments-list" class="sortable table table-striped" style="text-align:right;width:100%")
          colgroup()
            col(class="col-xs-3")
            col(class="col-xs-3")
            col(class="col-xs-3")
            col(class="col-xs-3")
          thead()
            tr() 
              th(style="text-align: right") #{translate(group_by)}
              th(style="text-align: right") היקף ההשקעה 
                small() בשקלים
              th(style="text-align: right") % מההשקעה
              th(style="text-align: right") שינוי ב-4 רבעונים אחרונים
          tbody()
            each group in groups
              //- if (group[group_by] === 'NULL' ) continue;
              - var lastQStr = lastQuarters[0].toString();
              - if ( group[lastQStr] == undefined )
                - if (debug)
                  div() חסר רבעון נוכחי 
                  div(style="text-align:left") #{JSON.stringify(group)}
                - continue;
              - var lastQResult = group[lastQStr][0];
              - var lastQResultWords = convertNumberToWords(lastQResult['fair_value']);
              - var groupPercentage = (lastQResult.fair_value / quartersSums[lastQStr] * 100 ).toFixed(2);
              - var escapedVal = escapeJSLink(lastQResult[group_by]);
              - var groupName = removeQoutes(translate(lastQResult[group_by]));

                tr()
                  td()
                    a(class="table-link" onclick="addConstraint('#{group_by}','#{escapedVal}'); $('.modal').modal('hide');" title='#{groupName}') #{groupName}
            
                  td()
                    span(class="amount") #{lastQResultWords.number}  #{lastQResultWords.scale}
            
                  td()
                    span(class="percentage") #{groupPercentage}% 
                    div(class="bar graph" style="width:#{groupPercentage*(65/100)}%")
                  
                  td(class="change")
                    - var sparkline = [];
                    - for(var i = 0;i<4;i++){
                      - var qStr = lastQuarters[i].toString();
                      - if (group[qStr] == undefined){
                        - if (debug){
                          div() אין מידע עבור רבעון  #{qStr} 
                        - }
                        - sparkline.push( Number( 0 ) );
                        - continue;
                      - }
                      - if (quartersSums[qStr] == undefined){
                        - if (debug){
                          div() quartersSums[#{qStr}] is undefined
                        - }
                        - sparkline.push( Number( 0 ) );
                        - continue;
                      - }
                      - sparkline.push( (Number(group[qStr][0]['fair_value']) / Number(quartersSums[qStr]) * 100).toFixed(2) );
                    - }



                    - var diff, direction;

                    - diff = (sparkline[0] - sparkline[sparkline.length - 1]).toFixed(2);
                    - if (diff > 0){
                        - direction = "increase";
                    - }
                    - else if(diff==0) {
                        - direction = "no-change";
                    - }

                    - else{
                        - direction = "decrease";
                    - }
                    - diff = Math.abs(diff);

                    span(class="trend #{direction}" ) 
                      span(class="percentage") #{diff}% 
                    div(class="sparkline graph",data-sparkline="#{sparkline.reverse().join(', ')}")
