extends layout_v2

block headerbottom


block content

	//- BODY
	div(class="container")
		
		//- RIGHT COLUMN
		div(id="right-column" class="col-sm-12 pull-right" style="padding-right: 0px;")

			//- HEADER
			div(id="header-bottom" style="padding-right: 0px;")
				div(class="container" style="padding-right: 0px;")
					div(id="breadcrumbs") 
								each field in filter.getConstrainedFields()
									- if (field == "group_by" || field == "report_year" || field == "report_qurater" ) continue;
									- var value = filter.getConstraintData(field) ;
									- var escapedValue = rfc3986EncodeURIComponent(value);
									
									span(id="breadcrumbs_seperator") >
									a(onclick="breadCrumbs('#{escapedValue}')" title="#{translate(field)}")
										span() #{removeQoutes(translate(value))} 
					
					div(id="question" class="title2")  תיק השקעות
						

			div(id="btn-bar" class="row btn-group" style="font-family:FontAwesome;")
				select(id="select_quarter" style="float:right;"  data-width="160px" )
					each quarter in lastQuarters
						- var select=null;
						- if (report_year == quarter.year && report_qurater == quarter.quarter)
							- select='selected';
						option(value="#{JSON.stringify(quarter)}",
						selected=select) &#xf073 רבעון #{quarter.quarter}, #{quarter.year}
				a(id="download" href="/csv#{filter.toQueryString()}") 
					button(class="btn btn-default") &#xf0f6 הורד נתונים גולמיים
						
			div(class="row")
			div(class="col-sm-4 pull-right" style="text-align:center")
				div(class="title4") גודל התיק
				div(class="title2") #{total_sum_words.number}  #{total_sum_words.scale} שקל

			div(class="col-sm-4 pull-right" style="text-align:center")
				div(class="title4") חלק משוק הפנסיה 
				-var percentageOfTotalFund = (quarters[0]['group_sum'] / totalPensionFundQuarters[0]['group_sum'] * 100).toFixed(1)
				div(style="direction:ltr" class="title2") #{percentageOfTotalFund} %

			div(class="col-sm-4 pull-right" style="text-align:center")
				div(class="title4") שינוי ב-4 רבעונים אחרונים
				-var diffQ0 = (quarters[0]['group_sum'] / totalPensionFundQuarters[0]['group_sum'] * 100).toFixed(1);
				-var diffQ1 = (quarters[1]['group_sum'] / totalPensionFundQuarters[1]['group_sum'] * 100).toFixed(1);
				-var diffQ2 = (quarters[2]['group_sum'] / totalPensionFundQuarters[2]['group_sum'] * 100).toFixed(1);
				-var diffQ3 = (quarters[3]['group_sum'] / totalPensionFundQuarters[3]['group_sum'] * 100).toFixed(1);

				- var diffQ0Q3 = (diffQ0 - diffQ3).toFixed(1);
				- if (diffQ0Q3 > 0) diffQ0Q3 = "+" +diffQ0Q3

				div(style="direction:ltr" class="title2") #{diffQ0Q3} %
	
		
			each group in groups
				- if (debug)
					div(style="text-align:left;direction:ltr") #{group.query} 
				- if (group.group_field == 'fund_name' )continue;

				//- skip empty groups
				- if (Object.keys(group.result).length == 0 ) continue;

				//- count precent shown in table
				- var visiblePercentage = 0;

				div()
					span(style="padding-top:15px;" class="title4") חלוקה לפי&nbsp #{translate(group.group_field)}
				
					table( class="table table-striped" style="text-align:right;width:100%")
						colgroup()
							col(class="col-sm-3")
							col(class="col-sm-3")
							col(class="col-sm-3")
							col(class="col-sm-3")
						thead()
							tr() 
								th(style="text-align: right") #{translate(group.group_field)}
								th(style="text-align: right") היקף ההשקעה בשקלים
								th(style="text-align: right") % מתיק ההשקעות
								th(style="text-align: right") שינוי ב-4 רבעונים אחרונים
						tbody()
							each result in group.result
								- var lastQStr = lastQuarters[0].toString();
								- var lastQResult = result[lastQStr][0];
								- var lastQResultWords = convertNumberToWords(lastQResult.group_sum);
								- var groupPercentage = (lastQResult.group_sum / quarters[0]['group_sum'] * 100 ).toFixed(2);
								- var escapedVal = rfc3986EncodeURIComponent(lastQResult[group.group_field]);
								- var groupName = removeQoutes(translate(lastQResult[group.group_field]));
								- visiblePercentage += Number(groupPercentage);

								- if (result[group.group_field] === 'NULL' ) continue;

								- if ( result[lastQStr] != undefined )
									- var lastQResult = result[lastQStr][0];
								- else
									div() UNDEFINED for #{group.group_field} #{removeQoutes(translate(lastQResult[group.group_field]))} #{lastQStr}
									
									- result[lastQStr] = [{'group_sum':'0'}];
									- var lastQResult = result[lastQStr][0];

									- continue


								tr()
									td()
										div(class="table-link", onclick="addConstraint('#{group.group_field}','#{escapedVal}')") #{ groupName}
									td()
										div() #{lastQResultWords.number}  #{lastQResultWords.scale}
									td()
										span() #{groupPercentage}% 
										div(id="bar" style="width:#{groupPercentage*(75/100)}%")
									
										- var sparkline = [];
										- for(var i = 0;i<4;i++){
											- var qStr = lastQuarters[i].toString();
											- if (result[qStr] == undefined)
												if (debug) 
													div() result[#{qStr}] is undefined
												- continue;
											- if (quarters[i] == undefined) 
												if (debug)  
													div() quarters[i] is undefined
												- continue;
											- sparkline.push( (Number(result[qStr][0]['group_sum']) / Number(quarters[i]['group_sum']) * 100).toFixed(2) );
										- }

										td(data-sparkline="#{sparkline.reverse().join(', ')}")


		
							- if(visiblePercentage <= 99){
								tr()
									td(class="listAll")
										div()
											a(data-target="#myModal",data-toggle="modal",data-remote="/investments#{filter.toQueryString()}&group_by=#{group.group_field}")
												כל #{plurals[group.group_field]}...
							- }
							
							- if (debug && visiblePercentage > 100){
								tr()
									td()
										div() סהכ גדול מ100%!! #{visiblePercentage }
							- }
							



			div(class="row") 
				div() עוד בפנסיה פתוחה
					ul(id = "linksList") 
						each fund in funds
							- var escapedVal = rfc3986EncodeURIComponent(fund['fund_name']);
								li()
									a(class="table-link", onclick="addConstraint('fund_name','#{escapedVal}')") #{fund['fund_name']}
								br()


		div(class="modal fade", id="myModal",tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
			div(class="modal-dialog modal-sm",style="margin-right:3%")
				div(class="modal-content")


	<!-- DEGBUGGING -->
	script() var groups = !{JSON.stringify(groups)};
	script() var quarters = !{JSON.stringify(quarters)};
	script() var lastQuarters = !{JSON.stringify(lastQuarters)};
	script() var totalPensionFundQuarters = !{JSON.stringify(totalPensionFundQuarters)};
	script() var quartersQuery = !{JSON.stringify(quartersQuery)};
	script() var totalPensionFundQuery = !{JSON.stringify(totalPensionFundQuery)};
	script() var origGroups = !{JSON.stringify(origGroups)};
		
	script(type='text/javascript', src='/js/portfolio_clientside.js', myVar = 200 )
	script(type='text/javascript', src='/js/underscore-min.js')
	script(type='text/javascript', src='/js/highcharts.js')


