extends layout

block content

    div(id="page-header" class="container-fluid")

        div(class="container")

            div(class="row")

                //- HEADER
                div(class="col-xs-12")

                    div(id="breadcrumbs")
                        include partials/breadcrumbs.jade


                    div(id="page-title" )
                        include partials/report_title.jade
                    

    main(class="container")
        div(class="row")
            div(class="col-xs-12")
                div(class="btn-toolbar")
                        select(id="select-quarter")
                            each quarter in getLastQuarters(current_year, current_quarter, 4)
                                - var select=null;
                                - if (report_year == quarter.year && report_qurater == quarter.quarter)
                                    - select='selected';
                                option(value="#{JSON.stringify(quarter)}",
                                selected=select) רבעון #{quarter.quarter}, #{quarter.year}
                        button(id="download" class="btn btn-default" onClick="location.href = '/csv#{filter.toQueryString()}'")
                              הורד נתונים גולמיים
                div(class="alert alert-warning" role="alert")
                    strong() שימו לב!
                    נתונים חלקיים
                    a(href="#") קרא עוד

                - if (debug)
                    div() #{totalPensionFundQuery}
                    div() #{quartersQuery}

                div(id="header")
                    include partials/header.jade

        div(class="row")
          div(id="groups" class="groups col-xs-12" )
              include partials/groups.jade

        div(class="row")
            div(id="further-reading" class="col-xs-12")
                div(id="more")
                    include partials/more.jade

        div(class="modal fade", id="myModal",tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
            div(class="modal-dialog modal-lg")
                div(class="modal-content")



    script() var filter = Filter.fromQueryString("!{filter.toQueryString()}");
    
    script() var translate = !{translate};
    
    - if (funds != undefined)
        script() var funds = !{JSON.stringify(funds)};    
    
    - if (fundsQuery != undefined)
        script() var fundsQuery = !{JSON.stringify(fundsQuery)};
    

    script() var debug = !{debug};
    script() var dictionary = !{JSON.stringify(dictionary)};
    script() var report_type = !{JSON.stringify(report_type)};
    script() var lastQuarters = !{JSON.stringify(lastQuarters)};
    script() var quarters = !{JSON.stringify(quarters)};
    script() var plurals = !{JSON.stringify(plurals)};
    script() var groups = !{JSON.stringify(groups)};


    script() var getReportType = !{getReportType};
    script() var createTitle = !{createTitle};



    script(type='text/javascript', src='/js/portfolio_templates.js')
    script(type='text/javascript', src='/js/portfolio_clientside.js')
    script(type='text/javascript', src='/js/common_clientside.js')
    script(type='text/javascript', src='/js/highcharts.js')

