extends layout

block headerbottom


block content

    div(id="page-header" class="container-fluid")

        div(class="container")

            div(class="row")

                //- HEADER
                div( class="col-xs-12")

                    div(id="reportTitle" )
                        include partials/report_title.jade
                    

    div(class="container")

        div(class="row")

            input(type="search" id="search_text" class="form-control" style="width:70%;float:right;" dir="rtl" placeholder="שם או מספר נייר ערך")
            input(type="button" id="search_btn" class="form-control" style="width:10%;float:right;" value="חפש")

    div(class="container")

        div(class="row")
            -if (total_row_count == 0)
                div( class="col-xs-12") לא נמצאו תוצאות...
            -else
                div( class="col-xs-12") נמצאו #{total_row_count} תוצאות...

        each row in rows
            div(class="row")
                div(class="col-xs-8") #{row.instrument_name}
                div(class="col-xs-4") #{row.instrument_id}


        div(class="row")
            nav()
              ul( class="pagination")
                li()
                    a(href="/search?q=#{searchTerm}&p=#{Number(page) -1 }")&laquo;
                    - var r = 1;
                    while r <= total_pages
                        -if ( page == r){
                            li(class="active")
                                a(href="/search?q=#{searchTerm}&p=#{r}") #{r}
                        -}else{
                            li()
                                a(href="/search?q=#{searchTerm}&p=#{r}") #{r}
                        -}

                        - r++;
  
                li()  
                    a(href="/search?q=#{searchTerm}&p=#{Number(page) +1 }")&raquo;

        div(class="row")
            div(id="further-reading" class="col-xs-12")
                div(id="more")


                    
    //- script() var translate = !{translate};

    //- script() var debug = !{debug};
    //- script() var dictionary = !{JSON.stringify(dictionary)};
    script() var report_type = !{JSON.stringify(report_type)};
    //- script() var groups = !{JSON.stringify(groups)};


    //- script() var getReportType = !{getReportType};

    script(type='text/javascript', src='/js/search_clientside.js')
    script(type='text/javascript', src='/js/common_clientside.js')
    script(type='text/javascript', src='/js/highcharts.js')


    //$.getScript('/js/portfolio_clientside.js');
    //$.getScript('/js/common_clientside.js');
    
