<div class="col-xs-12">
  <div class="btn-toolbar">
    <select id="select-quarter">
      {{#each months}}
      <option value="{{this.str}}" selected="selected">רבעון {{this.quarter}}, {{this.year}}</option>
      {{/each}}
    </select>
    <button id="download" class="btn btn-default" onClick="location.href = '/csv?{{queryString}}'">
    הורד נתונים גולמיים
    </button>
  </div>
  <div id="header">
    <table id="portfolio-overview" class="table">
      <tbody>
        <tr>
          <td>
            <h3>{{amountTitle}}</h3>
            <span class="datum">{{totalAmountWords}} שקל</span>
          </td>
          {{#if shouldShowPercentage}}
            <td>
              <h3>{{percentageTitle}}</h3>
              <span class="datum percentage">{{percentageOfTotalFund}}%</span>
            </td>
          {{/if}}  
          <td>
            <h3> שינוי ב-4 רבעונים </h3>
            <div id="portfolio-overview-diff">
              <div class="trend {{trend}}">
                <span class="datum percentage">{{diff}}%</span>
              </div>
              <div class="sparkline graph" data-sparkline="{{sparklineData}}">
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>