<tr>
	<td class="checkbox-cell"><input type="checkbox" /></td>
	<td class="data-cell">{{this.managing_body}}</td>
	<td class="data-cell">{{this.report_year}}</td>
	<td class="data-cell">{{this.report_quarter}}</td>
	<td class="data-cell">{{this.fund}}</td>
	<td class="data-cell"><a href="{{this.url}}">link</a></td>
</tr>
<tr>
	<td colspan="6">
		<div class="form-group" style="display:block">
			<label for="">URL</label>
	  	<input class="url" type='text' value='{{this.url}}'/>
	</td>
</tr>

{{! <td>{{this.downloadDateFormatted}}</td> }}
{{! <td>{{this.convertDateFormatted}}</td> }}
{{! <td>{{this.dbLoadDateFormatted}}</td> }}
{{! <td>{{this.sum_in_data_file}}</td> }}
{{! <td>{{this.sum_in_db}}</td> }}
{{! <td>{{this.sum_reported}}</td> }}
{{!	<td>{{this.createdAtFormatted}}</td> }}
{{!	<td>{{this.updatedAtFormatted}}</td> }}