<div class="container">
  <div class="row">
     <div class="col-xs-12">
        <div id="breadcrumbs">
           <ol class="breadcrumb">
              <li><a onclick="window.location='/'" title="דף הבית">דף הבית</a></li>
              {{#each breadcrumbs}}
                  <li title="{{this.field}}">
                    <a class="breadcrumb" data-value="{{this.value_eng}}" onclick="">{{this.value}}</a>
                  </li>
              {{/each}}
              <li>{{last_crumb.value}}</li>
           </ol>
        </div>
        <div id="page-title">
           <h2>{{{report_type}}}</h2>
           <h1 id="report-title">{{{report_title}}}</h1>
        </div>
     </div>
  </div>
</div>

