<td colspan="6">
	<div class="form-group" style="display:block">
		<label for="">URL</label>
    <button id="update-url">Save URL</button>
  	<input class="url" type='text' value='{{this.url}}'/>
    <div>
      Excel File: 
      {{#if this.excel_file}}
        <a class="download-excel" href='#'>{{this.excel_file}}</a>
      {{else}}
        Not found
      {{/if}}
      <button id="refresh-excel-file">Download from URL</button>
      <button id="upload-report">Upload Excel file</button>
      <button data-toggle="tooltip" data-placement="top" title="Tooltip on top" class="download-excel">Download</button>
    </div>
    <div>
      CSV File:
      {{#if this.csv_file}}
        <a class="download-csv" href='#'>{{this.csv_file}}</a>
      {{else}}
        Not found
      {{/if}}
      <button class="download-csv">Download</button>
    </div>
		<div>
      Rows In DB: {{this.row_count}} 
      <button id="refresh-db-sum">Refresh</button>
    </div>
		<button id="upload-to-db">Upload to DB</button>
		<button id="delete-from-db">Delete from DB</button>
  <div>
</td>
